@import "tailwindcss";

body{
  background-color: #182825;
  color: #B8D4E3;
}

.navbar {
  padding: 16px;
  background-color: #9CA3DB;
  border: 2px solid #686d95;
  color: black;
}

.container{
  border: 3px solid #B8D4E3;
  background-color: #92b2c3;
  color: #182825;
  display: block;
}

h2{
  font-size: 1.7rem;
  font-weight: 600;
}

h3{
  font-size: 1.4rem;
  font-weight: 500;
}

.link{
  transition: 0.3s;
}

.link:hover{
  color: #855A5C;
}

.search-button {
  border: 1px solid;
  padding: 2px 6px; 

  transition: 0.3s;
}

.search-button:hover{
  color: #92b2c3;
  background-color: #182825;
}